html.ios, html.ios body{
  height: 100%!important;
}
body {
  background-image: url('speaker.gif');
  background-repeat: repeat;
  z-index: 0;
  margin: 0;
  font-family: 'VT323';
}
.container {
  width: 100%;
  height: 100%;
}
h1 {
  font-family: 'VT323';
  color: #e03997;
  font-size: 3em;
  padding: 5px;
}
