html.ios, html.ios body{
  height: 100%!important;
}
body {
  background-color: #00B5AD;
  background-repeat: repeat;
  z-index: 0;
  margin: 0;
  font-family: 'VT323', 'VT-100', Terminal, monospace;
}
.container {
  width: 100%;
  height: 100%;
}
h1 {
  font-family: 'VT323', 'VT-100', Terminal, monospace;
  color: #e03997;
  font-size: 3em;
  padding: 5px;
  text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
}
