.title, .help {
  background-color: #00B5AD;
  padding: 5px;
}
.help {
  color: #FFFFFF;
  font-size: 2em;
  font-family: 'VT323';
}
.iWannaDropIt {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 160px;
  font-size: 3em;
  background-color: #00B5AD;
  padding: 5px;
  border: 5px solid #e03997;
  color: #e03997;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
