.title-failed {
  background-color: #e03997;
  color: #00B5AD;
  padding: 5px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.score-failed {
  background-color: #e03997;
  color: #FFFFFF;
  font-size: 1.5em;
  padding: 5px;
  font-family: 'VT323';
}
